body {
  margin: 0;
  height: 100vh;
  background: url("https://pomf2.lain.la/f/svqtebtl.png") no-repeat center
    center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.box {
  position: relative;
  width: 600px;
  height: 600px;
  background: rgba(0, 0, 0, 0.5);
  border: 5px solid;
  border-image: linear-gradient(
      45deg,
      red,
      orange,
      yellow,
      green,
      blue,
      indigo,
      violet
    )
    1;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 20px;
  color: white;
  text-align: center;
  animation: borderShift 5s linear infinite;
  font-size: 14px;
}

.foto1 {
  margin-bottom: 500px;
  margin-right: 687px;
  z-index: 10;
}

.foto2 {
  margin-bottom: 500px;
  margin-right: 407px;
  z-index: 11;
}

.foto3 {
  margin-bottom: 500px;
  margin-right: 127px;
  z-index: 12;
}

.foto4 {
  margin-bottom: 500px;
  margin-left: 153px;
  z-index: 13;
}

.foto5 {
  margin-bottom: 500px;
  margin-left: 435px;
  z-index: 14;
}

.foto6 {
  margin-bottom: 500px;
  margin-left: 710px;
  z-index: 15;
}

.foto7 {
  margin-bottom: 200px;
  margin-right: 687px;
  z-index: 10;
}

.foto8 {
  margin-bottom: 200px;
  margin-right: 407px;
  z-index: 11;
}

.foto9 {
  margin-bottom: 200px;
  margin-right: 127px;
  z-index: 12;
}

.foto10 {
  margin-bottom: 200px;
  margin-left: 153px;
  z-index: 13;
}

.foto11 {
  margin-bottom: 200px;
  margin-left: 435px;
  z-index: 14;
}

.foto12 {
  margin-bottom: 200px;
  margin-left: 710px;
  z-index: 15;
}

.foto13 {
  margin-bottom: -100px;
  margin-right: 687px;
  z-index: 10;
}

.foto14 {
  margin-bottom: -100px;
  margin-right: 407px;
  z-index: 11;
}

.foto15 {
  margin-bottom: -100px;
  margin-right: 127px;
  z-index: 12;
}

.foto16 {
  margin-bottom: -100px;
  margin-left: 153px;
  z-index: 13;
}

.foto17 {
  margin-bottom: -100px;
  margin-left: 435px;
  z-index: 14;
}

.foto18 {
  margin-bottom: -100px;
  margin-left: 710px;
  z-index: 15;
}

.foto1, .foto2, .foto3, .foto4, .foto5, .foto6, .foto7, .foto8, .foto9, .foto10, .foto11, .foto12, .foto13, .foto14, .foto15, .foto16, .foto17, .foto18, .foto19 {
  position: absolute;
  transition: transform 0.3s ease;
}

.foto1:hover,
.foto2:hover,
.foto3:hover,
.foto4:hover,
.foto5:hover,
.foto6:hover,
.foto7:hover,
.foto8:hover,
.foto9:hover,
.foto10:hover, 
.foto11:hover,
.foto12:hover,
.foto13:hover,
.foto14:hover,
.foto15:hover,
.foto16:hover,
.foto17:hover,
.foto18:hover,
.foto19:hover {
  transform: scale(0.9);
}


@keyframes borderShift {
  0% {
    border-image-source: linear-gradient(
      45deg,
      red,
      orange,
      yellow,
      green,
      blue,
      indigo,
      violet,
      red
    );
  }
  50% {
    border-image-source: linear-gradient(
      225deg,
      red,
      orange,
      yellow,
      green,
      blue,
      indigo,
      violet,
      red
    );
  }
  100% {
    border-image-source: linear-gradient(
      45deg,
      red,
      orange,
      yellow,
      green,
      blue,
      indigo,
      violet,
      red
    );
  }
}

h1,
p {
  margin: 0.5rem 0;
}

@media only screen and (max-width: 1000px) {
  body {
  margin: 0;
  height: 100vh;
  background: url("https://pomf2.lain.la/f/mvybem3h.jpg") no-repeat center
    center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  }

  .box {
  position: relative;
  width: 900px;
  height: 800px;
  background: rgba(0, 0, 0, 0.5);
  border: 5px solid;
  border-image: linear-gradient(
      45deg,
      red,
      orange,
      yellow,
      green,
      blue,
      indigo,
      violet
    )
    1;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 20px;
  color: white;
  text-align: center;
  animation: borderShift 5s linear infinite;
  font-size: 25px;
  }

  .foto1, .foto2, .foto3, .foto4, .foto5, .foto6, .foto7, .foto8, .foto9, .foto10, .foto11, .foto12, .foto13, .foto14, .foto15, .foto16, .foto17, .foto18, .foto19 {
  scale: 2
  }
}
