body {
  margin: 0;
  height: 100vh;
  background: url("https://pomf2.lain.la/f/svqtebtl.png") no-repeat center
    center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  cursor: url("https://pomf2.lain.la/f/y1ka4d1m.png") 0 0, auto;
}

.box {
  position: relative;
  width: 600px;
  height: 600px;
  background: rgba(0, 0, 0, 0.5);
  border: 5px solid;
  border-image: linear-gradient(
      45deg,
      red,
      orange,
      yellow,
      green,
      blue,
      indigo,
      violet
    )
    1;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 20px;
  color: white;
  text-align: center;
  animation: borderShift 5s linear infinite;
  font-size: 14px;
}

#view-counter {
    position: absolute;
    margin-bottom: 650px;
    margin-right: 185px;
}

#faq-button { 
  cursor: pointer;
  color: blue;
  text-decoration: underline;
  font-weight: bold;
  font-size: 24px;
  position: absolute;
  margin-bottom: -655px;
  margin-right: 560px
}

#faq-box {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  max-width: 90%;
  padding: 20px;
  background: white;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  z-index: 1000;
}

#faq-box h2 {
  margin-top: 0;
  margin-bottom: 15px;
}

.faq-answer {
  padding: 5px 0;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

.faq-answer:last-child {
  border-bottom: none;
  margin-bottom: 0;
}

#close-faq {
  margin-top: 15px;
  padding: 5px 10px;
  cursor: pointer;
}

#home img {
  width: 80px;
  cursor: pointer;
  position: absolute;
  top: 30px;
  left: 30px;
}

.foto1 {
  margin-bottom: 400px;
  margin-right: 447px;
}

#visitor-count {
  position: absolute;
}

.foto2 {
  margin-bottom: 400px;
  margin-right: 277px;
}

.foto3 {
  margin-bottom: 400px;
  margin-right: 107px;
}

.foto4 {
  margin-bottom: 400px;
  margin-left: 63px;
}

.foto5 {
  margin-bottom: 400px;
  margin-left: 235px;
}

.foto6 {
  margin-bottom: 400px;
  margin-left: 405px;
}

.foto7 {
  margin-bottom: 230px;
  margin-right: 447px;
}

.foto8 {
  margin-bottom: 230px;
  margin-right: 277px;
}

.foto9 {
  margin-bottom: 230px;
  margin-right: 107px;
}

.foto10 {
  margin-bottom: 230px;
  margin-left: 63px;
}

.foto11 {
  margin-bottom: 230px;
  margin-left: 235px;
}

.foto12 {
  margin-bottom: 230px;
  margin-left: 405px;
}

.foto13 {
  margin-bottom: 60px;
  margin-right: 447px;
}

.foto14 {
  margin-bottom: 60px;
  margin-right: 277px;
}

.foto15 {
  margin-bottom: 60px;
  margin-right: 107px;
}

.foto16 {
  margin-bottom: 60px;
  margin-left: 63px;
}

.foto17 {
  margin-bottom: 60px;
  margin-left: 235px;
}

.foto18 {
  margin-bottom: 60px;
  margin-left: 405px;
}

.foto19 {
  margin-top: 110px;
  margin-right: 447px;
}

.foto20 {
  margin-top: 110px;
  margin-right: 277px;
}

.foto21 {
  margin-top: 110px;
  margin-right: 107px;
}

.foto27 {
  margin-top: 110px;
  margin-left: 63px;
}

.foto23 {
  margin-top: 110px;
  margin-left: 235px;
}

.foto24 {
  margin-top: 110px;
  margin-left: 405px;
}

.foto25 {
  margin-top: 280px;
  margin-right: 447px;
}

.foto26 {
  margin-top: 280px;
  margin-right: 277px;
}

.foto22 {
  margin-top: 280px;
  margin-right: 107px;
}

.foto28 {
  margin-top: 280px;
  margin-left: 63px;
}

.foto29 {
  margin-top: 280px;
  margin-left: 235px;
}

.foto30 {
  margin-top: 280px;
  margin-left: 405px;
}

.foto31 {
  margin-top: 450px;
  margin-right: 447px;
}

[class^="foto"] {
  position: absolute;
  transition: transform 0.3s ease;
}

[class^="foto"]:hover {
  transform: scale(0.9);
}

@keyframes borderShift {
  0% {
    border-image-source: linear-gradient(
      45deg,
      red,
      orange,
      yellow,
      green,
      blue,
      indigo,
      violet,
      red
    );
  }
  50% {
    border-image-source: linear-gradient(
      225deg,
      red,
      orange,
      yellow,
      green,
      blue,
      indigo,
      violet,
      red
    );
  }
  100% {
    border-image-source: linear-gradient(
      45deg,
      red,
      orange,
      yellow,
      green,
      blue,
      indigo,
      violet,
      red
    );
  }
}

h1,
p {
  margin: 0.5rem 0;
}

#playAnthem {
  position: absolute;
  cursor: pointer;
  color: blue;
  font-size: 24px;
  text-decoration: underline;
  margin-bottom: 670px;
  margin-right: 450px;
}
#playAnthem:hover {
  color: darkblue;
}

.tiktok {
  position: absolute;
  scale: 0.2;
  margin-bottom: 860px;
  margin-left: 270px
}

@media only screen and (max-width: 1000px) {
  body {
  margin: 0;
  height: 100vh;
  background: url("https://pomf2.lain.la/f/mvybem3h.jpg") no-repeat center
    center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  }

  .box {
  position: relative;
  width: 900px;
  height: 950px;
  background: rgba(0, 0, 0, 0.5);
  border: 5px solid;
  border-image: linear-gradient(
      45deg,
      red,
      orange,
      yellow,
      green,
      blue,
      indigo,
      violet
    )
    1;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 20px;
  color: white;
  text-align: center;
  animation: borderShift 5s linear infinite;
  font-size: 25px;
  }

  #view-counter{
    margin-bottom: 1010px;
    margin-right: 270px;
    height: 29px;
  }
  
  #playAnthem {
  position: absolute;
  cursor: pointer;
  color: blue;
  font-size: 34px;
  text-decoration: underline;
  margin-bottom: 1030px;
  margin-right: 680px;
  }

  #faq-button { 
  cursor: pointer;
  color: blue;
  text-decoration: underline;
  font-weight: bold;
  font-size: 24px;
  position: absolute;
  margin-bottom: -655px;
  margin-right: 560px
}

#faq-box {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 400px;
  max-width: 90%;
  padding: 20px;
  background: white;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  z-index: 1000;
  font-size: 34px;
}

#faq-box h2 {
  margin-top: 0;
  margin-bottom: 15px;
}

.faq-answer {
  padding: 5px 0;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  font-size: 34px;
}

.faq-answer:last-child {
  border-bottom: none;
  margin-bottom: 0;
}

#close-faq {
  margin-top: 15px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 24px
}

  .tiktok {
  position: absolute;
  scale: 0.28;
  margin-bottom: 1320px;
  margin-left: 365px
  }

  [class^="foto"] {
  position: absolute;
  transform: scale(2);
  }
  
  .foto1 {
  margin-bottom: 650px;
  margin-right: 687px;
  }

.foto2 {
  margin-bottom: 650px;
  margin-right: 407px;
  }

.foto3 {
  margin-bottom: 650px;
  margin-right: 127px;
  }

.foto4 {
  margin-bottom: 650px;
  margin-left: 153px;
  }

.foto5 {
  margin-bottom: 650px;
  margin-left: 435px;
  }

.foto6 {
  margin-bottom: 650px;
  margin-left: 710px;
  }

.foto7 {
  margin-bottom: 350px;
  margin-right: 687px;
  }

.foto8 {
  margin-bottom: 350px;
  margin-right: 407px;
  }

.foto9 {
  margin-bottom: 350px;
  margin-right: 127px;
  }

.foto10 {
  margin-bottom: 350px;
  margin-left: 153px;
  }

.foto11 {
  margin-bottom: 350px;
  margin-left: 435px;
  }

.foto12 {
  margin-bottom: 350px;
  margin-left: 710px;
  }

.foto13 {
  margin-right: 687px;
  }

.foto14 {
  margin-right: 407px;
  }

.foto15 {
  margin-right: 127px;
  }

.foto16 {
  margin-left: 153px;
  }

.foto17 {
  margin-left: 435px;
  }

.foto18 {
  margin-left: 710px;
  }

.foto19 {
  margin-bottom: -150px;
  margin-right: 687px;
}

.foto20 {
  margin-bottom: -150px;
  margin-right: 407px;
}

.foto21 {
  margin-bottom: -150px;
  margin-right: 127px;
}

.foto27 {
  margin-bottom: -150px;
  margin-left: 153px;
}

.foto23 {
  margin-bottom: -150px;
  margin-left: 435px;
}

.foto24 {
  margin-bottom: -150px;
  margin-left: 710px;
}

.foto25 {
  margin-bottom: -250px;
  margin-right: 687px;
}

.foto26 {
  margin-bottom: -250px;
  margin-right: 407px;
}

.foto22 {
  margin-bottom: -250px;
  margin-right: 127px;
  }

  .foto28 {
  margin-bottom: -250px;
  margin-left: 153px;
  }

  .foto29 {
  margin-bottom: -250px;
  margin-left: 435px;
  }

  .foto30 {
  margin-bottom: -250px;
  margin-left: 710px;
  }

  .foto31 {
  margin-bottom: -360px;
  margin-right: 687px;
  }

  #faq-button {
    margin-bottom: -1015px;
    margin-right: 845px;
    font-size: 34px;
  }

  #home img{
    width: 140px;
  }
}
